.filter-buttons {
  display: flex;
  gap: 1rem;

  button {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary);
    color: var(--primary);
    transition: all 0.3s;
  }

  .active {
    background-color: red;
  }
}
